.button {
    -fx-background-image: url("/gui_assets/btn_blue.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-focus-color: transparent;
    -fx-font-family: "Mount Olympus";
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 150%;
    -fx-smooth: true;
    -fx-text-fill: antiquewhite;
}

.button .text {
    -fx-translate-y: -5;
    -fx-fit-to-height: true;
    -fx-spacing: 0;
}

.button:pressed {
    -fx-background-image: url("/gui_assets/btn_blue_pressed.png");
    -fx-opacity: 0.5;
    -fx-background-size: stretch;
    -fx-color: transparent;
    -fx-font-family: "Mount Olympus";
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 140%;
    -fx-smooth: true;
}

.undo-label .text {
    -fx-fill: ghostwhite;
    -fx-stroke: #010101;
    -fx-stroke-width: 2.5;
}

.undo-button {
    -fx-background-image: url("/gui_assets/hourglass.png");
    -fx-text-fill: #dddddd;
}

.undo-button:pressed {
    -fx-background-image: url("/gui_assets/hourglass.png");
}

.button-exit {
    -fx-background-color: #ff000099;
    -fx-background-image: none;
}

.button-exit:pressed {
    -fx-background-color: #ff000066;
    -fx-background-image: none;
}