.button {
    -fx-background-image: url("/gui_assets/btn_coral.png");
    -fx-background-color: transparent;
    -fx-background-size: stretch;
    -fx-focus-color: transparent;
    -fx-font-family: Diogenes;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 200%;
    -fx-smooth: true;
    -fx-text-fill: #faebd7;
}

.button .text {
    -fx-translate-y: -5;
}

.button:pressed {
    -fx-background-image: url("/gui_assets/btn_coral_pressed.png");
    -fx-background-color: transparent;
    -fx-background-size: stretch;
    -fx-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-family: Diogenes;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 190%;
    -fx-smooth: true;
}

.text-field {
    -fx-background-image: url("/gui_assets/text_field.png");
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-font-family: Diogenes;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 35;
    -fx-smooth: true;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.text-name {
    -fx-background-image: url("/gui_assets/gameGodFrameName2.png");
    -fx-background-size: 100% 100%;
    -fx-font-family: Diogenes;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 400%;
    -fx-fill: rgba(255, 255, 255, 0.6);
    -fx-smooth: true;
}

.text-area {
    -fx-background-image: url("/gui_assets/gameGodFrameName2.png");
    -fx-background-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.text-area .scroll-pane .content .text {
    -fx-text-alignment: center;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}
